<div class="px-12">
  <h1 class="text-2xl text-black mb-5">Exams</h1>
  <% if @exams.empty? %>
    <% if current_user.teacher_role %>
      <div class="flex justify-center items-center" style="height: calc(100vh - (1rem + 32px))">
        <h1 class="text-xl text-black text-center">You haven't created exams
          yet! <%= link_to "Create one", new_dashboard_level_path, class: "text-indigo-400 underline" %></h1>
      </div>
    <% elsif current_user.student_role %>
      <div class="flex justify-center items-center" style="height: calc(100vh - (1rem + 32px))">
        <h1 class="text-xl text-black text-center">You teacher haven't added exams yet!</h1>
      </div>
    <% end %>
  <% else %>
    <% @exams.each do |exam| %>
      <div class="p-4 bg-white shadow-sm rounded-md mb-4 flex justify-between text-black">
        <% if current_user.teacher_role %>
          <%= link_to exam.title, dashboard_level_path(exam.level.id), class: "text-indigo-500 underline" %>
        <% else %>
          <div class="text-indigo-500 underline"><%= exam.title %></div>
        <% end %>
        <div><%= exam.level.questions.count %> <%= 'Question'.pluralize(exam.level.questions.count) %></div>
        <div><b>Created by:</b> <%= "#{exam.teacher.first_name} #{exam.teacher.last_name}" %></div>
        <div class="flex space-x-1">
          <%= link_to dashboard_level_path(exam.level.id), class: "border-2 border-indigo-200 rounded-md p-1" if current_user.teacher_role do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-indigo-500">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
            </svg>
          <% end %>
          <%= link_to "Take Exam", new_dashboard_result_path(exam: exam.id),
                      class: "flex items-center justify-center px-5 py-1 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 mr-2" if current_user.student_role %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
