<div class="px-12">
  <h1 class="text-black text-2xl mb-5"><%= @exam.title %></h1>
  <%= form_with(url: dashboard_results_path, model: @result, local: true, class: "w-full overflow-scroll") do |f| %>
    <%= f.hidden_field :grade, id: "totalGrade" %>
    <%= f.hidden_field :exam_id, value: @exam.id %>
    <% @questions.each_with_index do |q, index| %>
      <div class="p-4 bg-white shadow-sm rounded-md mb-4">
        <div class="flex justify-between items-center mb-3">
          <h3 class="text-lg text-black"><%= q.question_title %></h3>
          <h4 class="text-base text-black">Question <%= index + 1 %></h4>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full px-3">
            <div class="flex items-center mb-3">
              <%= radio_button_tag "answer #{index+1}".parameterize.underscore.to_sym, '1' %>
              <span class="ml-3"><%= q.first_answer %></span>
            </div>
            <div class="flex items-center mb-3">
              <%= radio_button_tag "answer #{index+1}".parameterize.underscore.to_sym, '2' %>
              <span class="ml-3"><%= q.second_answer %></span>
            </div>
            <div class="flex items-center mb-3">
              <%= radio_button_tag "answer #{index+1}".parameterize.underscore.to_sym, '3' %>
              <span class="ml-3"><%= q.third_answer %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="actions mt-5 flex justify-end">
      <%= f.submit "Submit Answers", class: "bg-indigo-500 text-white py-2 px-3 rounded-md cursor-pointer" %>
    </div>
  <% end %>
</div>
